name: MLOps Pipeline

on:
  push:
    branches: [ master ]

jobs:
  build-and-train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
          pip install 'pathspec<0.12'
          pip install dvc scikit-learn mlflow

    - name: Pull DVC data
      run: dvc pull

    - name: Run DVC pipeline
      run: dvc repro

    - name: Upload model artifact
      uses: actions/upload-artifact@v4
      with:
        name: model
        path: model.pkl
